<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h3>Create an account:</h3>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" th:field="*{name}" id="name"><br>

    <label for="email">Email:</label><br>
    <input type="text" th:field="*{email}" id="email"><br>

    <label for="login">Login:</label><br>
    <input type="text" th:field="*{login}" id="login"><br>

    <label for="password">Password:</label><br>
    <input type="password" th:field="*{password}" id="password" ><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>