<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Login</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.id}"></td>
            <td><a th:text="${user.name}" th:href="@{users/{id}(id=${user.id})}"></a></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    Ваня
    </tbody>
</table>
</body>
</html>